body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffe4e1; /* Light pink background */
    animation: fadeInBackground 1s ease-in-out;
}

@keyframes fadeInBackground {
    from {
        background-color: #ffffff;
    }
    to {
        background-color: #ffe4e1;
    }
}

#main {
    background-color: #fff0f5; /* Lavender blush background */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    animation: fadeInMain 1s ease-in-out;
}

#files {
    margin: 5px;
}


.file_container {
    position: relative;
    display: inline-block;
    margin: 10px;
}

.file_container:hover .delete_btn {
    display: block;
}

.delete_btn {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #ff69b4;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
}

#upload {
    background-color: #ff69b4; /* Hot pink background */
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#upload:hover {
    background-color: #ff1493; /* Deep pink background */
    transform: scale(1.05);
}